In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import swifter

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 1000)

%matplotlib inline

In [18]:
data_raw = pd.read_csv('FiveYearData.csv', index_col=0)

DtypeWarning: Columns (30,33,34,50,51) have mixed types.Specify dtype option on import or set low_memory=False.

In [19]:
data = data_raw.iloc[:, np.r_[0:26, -1]]
print(data.shape)
print(data.head(20))

,id_loan,fico,dt_first_pi,flag_fthb,dt_matr,cd_msa,mi_pct,cnt_units,occpy_sts,cltv,dti,orig_upb,ltv,int_rt,channel,ppmt_pnlty,prod_type,st,prop_type,zipcode,loan_purpose,orig_loan_term,cnt_borr,seller_name,servicer_name,flag_sc,Default
0,F114Q1000001,717,201404,9,204403,39300.0,0,1,I,77,41,107000,77,5.250,R,N,FRM,RI,SF,2800.0,P,360,2,Other sellers,"LAKEVIEW LOAN SERVICING, LLC",NaN,NO
1,F114Q1000002,813,201405,Y,204404,19780.0,30,1,P,95,32,165000,95,4.125,R,N,FRM,IA,SF,50300.0,P,360,1,Other sellers,Other servicers,NaN,YES
2,F114Q1000004,742,201403,9,204402,NaN,0,1,P,78,45,139000,78,4.750,R,N,FRM,KY,SF,42100.0,C,360,1,Other sellers,Other servicers,NaN,NO
3,F114Q1000007,735,201405,9,204404,33460.0,0,1,P,86,45,417000,67,4.625,R,N,FRM,MN,SF,55000.0,N,360,2,Other sellers,Other servicers,NaN,NO
4,F114Q1000010,667,201403,N,204402,NaN,25,1,P,90,30,99000,90,5.125,R,N,FRM,KY,SF,42100.0,P,360,2,Other sellers,Other servicers,NaN,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2098588,F118Q4244552,777,201812,9,203811,47894.0,0,1,P,75,21,482000,75,4.625,C,N,FRM,VA,SF,22000.0,C,240,2,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION","JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",NaN,NO
2098589,F118Q4244555,666,201907,N,204906,NaN,12,1,P,85,37,136000,85,5.750,R,N,FRM,AZ,MH,85900.0,P,360,2,Other sellers,Other servicers,NaN,NO
2098590,F118Q4244558,798,201908,9,204907,29460.0,12,1,P,84,19,299000,84,4.000,R,N,FRM,FL,PU,33800.0,N,360,2,Other sellers,Other servicers,NaN,NO
2098591,F118Q4244561,772,201908,9,203407,42700.0,0,1,P,79,37,188000,79,3.625,R,N,FRM,FL,SF,33800.0,N,180,1,Other sellers,Other servicers,NaN,NO
2098592,F118Q4244564,724,201902,9,204901,41700.0,0,3,I,70,46,91000,70,5.875,B,N,FRM,TX,SF,78200.0,C,360,2,Other sellers,Other servicers,NaN,NO

In [20]:
data.describe()

,fico,dt_first_pi,dt_matr,cd_msa,mi_pct,cnt_units,cltv,dti,orig_upb,ltv,int_rt,zipcode,orig_loan_term,cnt_borr
count,2.098593e+06,2.098593e+06,2.098593e+06,1.888545e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098588e+06,2.098593e+06,2.098593e+06
mean,7.502470e+02,2.016245e+05,2.043050e+05,3.031519e+04,6.512533e+00,1.032146e+00,7.436201e+01,3.449362e+01,2.331565e+05,7.393959e+01,4.136946e+00,5.615361e+04,3.226556e+02,1.500760e+00
std,9.749856e+01,1.359074e+02,6.170604e+02,1.123562e+04,1.168785e+01,2.498917e-01,1.710647e+01,1.134792e+01,1.209287e+05,1.716946e+01,5.628187e-01,2.976084e+04,7.158170e+01,4.999995e-01
min,5.170000e+02,2.014020e+05,2.021110e+05,1.018000e+04,0.000000e+00,1.000000e+00,6.000000e+00,1.000000e+00,6.000000e+03,6.000000e+00,2.250000e+00,6.000000e+02,6.000000e+01,1.000000e+00
25%,7.170000e+02,2.015070e+05,2.044050e+05,1.943000e+04,0.000000e+00,1.000000e+00,6.700000e+01,2.800000e+01,1.400000e+05,6.600000e+01,3.750000e+00,3.050000e+04,3.600000e+02,1.000000e+00
50%,7.580000e+02,2.016090e+05,2.046010e+05,3.170000e+04,0.000000e+00,1.000000e+00,8.000000e+01,3.600000e+01,2.100000e+05,7.900000e+01,4.125000e+00,5.540000e+04,3.600000e+02,2.000000e+00
75%,7.870000e+02,2.017100e+05,2.047060e+05,4.006000e+04,1.200000e+01,1.000000e+00,8.500000e+01,4.200000e+01,3.090000e+05,8.300000e+01,4.500000e+00,8.460000e+04,3.600000e+02,2.000000e+00
max,9.999000e+03,2.019080e+05,2.060020e+05,4.974000e+04,9.990000e+02,9.900000e+01,9.990000e+02,9.990000e+02,1.285000e+06,9.990000e+02,7.000000e+00,9.990000e+04,5.490000e+02,2.000000e+00

In [21]:
data.dt_first_pi = data.dt_first_pi%100
print(data.dt_first_pi)

0           4
1           5
2           3
3           5
4           3
           ..
2098588    12
2098589     7
2098590     8
2098591     8
2098592     2
Name: dt_first_pi, Length: 2098593, dtype: int64

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
data.isnull().any()

id_loan           False
fico              False
dt_first_pi       False
flag_fthb         False
dt_matr           False
cd_msa             True
mi_pct            False
cnt_units         False
occpy_sts         False
cltv              False
dti               False
orig_upb          False
ltv               False
int_rt            False
channel           False
ppmt_pnlty         True
prod_type         False
st                False
prop_type         False
zipcode            True
loan_purpose      False
orig_loan_term    False
cnt_borr          False
seller_name       False
servicer_name     False
flag_sc            True
Default           False
dtype: bool

In [23]:
null_columns = data.columns[data.isnull().any()]
data[null_columns].isnull().sum()

cd_msa         210048
ppmt_pnlty       1307
zipcode             5
flag_sc       2011435
dtype: int64

In [24]:
def change_marked_variable2(mv, lower, upper):
    
    if lower<=mv<=upper:
        mark=1
    else:
        mv=0
        mark=0
    
    return mark

def change_marked_variable3(mv, lower, upper):
    
    if lower<=mv<=upper:
        mark_out=0
        mark_not=0
    else:
        if mv==000:
            mv=0
            mark_out=1
            mark_not=0
        else:
            mark_out=0
            mark_not=1
    
    return (mark_out, mark_not)

print('Done')

Done

In [25]:
def func(row):
    
    mark_fico = change_marked_variable2(row['fico'], 301, 805)
    mark_mi_pct_out, mark_mi_pct_not = change_marked_variable3(row['mi_pct'], 1, 55)
    mark_cltv = change_marked_variable2(row['cltv'], 0, 200)
    mark_dti = change_marked_variable2(row['dti'], 0, 65)
    mark_ltv = change_marked_variable2(row['ltv'], 6, 105)
    
    default = 1 if row['Default'] == 'YES' else 0
    
    return pd.Series([mark_fico, mark_mi_pct_out, mark_mi_pct_not, mark_cltv, mark_dti, mark_ltv, default])

data[['mark_fico', 'mark_mi_pct_out', 'mark_mi_pct_not', 'mark_cltv', 'mark_dti', 'mark_ltv', 'Default']] = data.swifter.apply(func, axis = 1)
data.head(20)

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id_loan,fico,dt_first_pi,flag_fthb,dt_matr,cd_msa,mi_pct,cnt_units,occpy_sts,cltv,dti,orig_upb,ltv,int_rt,channel,ppmt_pnlty,prod_type,st,prop_type,zipcode,loan_purpose,orig_loan_term,cnt_borr,seller_name,servicer_name,flag_sc,Default,mark_fico,mark_mi_pct_out,mark_mi_pct_not,mark_cltv,mark_dti,mark_ltv
0,F114Q1000001,717,4,9,204403,39300.0,0,1,I,77,41,107000,77,5.250,R,N,FRM,RI,SF,2800.0,P,360,2,Other sellers,"LAKEVIEW LOAN SERVICING, LLC",NaN,0,1,1,0,1,1,1
1,F114Q1000002,813,5,Y,204404,19780.0,30,1,P,95,32,165000,95,4.125,R,N,FRM,IA,SF,50300.0,P,360,1,Other sellers,Other servicers,NaN,1,0,0,0,1,1,1
2,F114Q1000004,742,3,9,204402,NaN,0,1,P,78,45,139000,78,4.750,R,N,FRM,KY,SF,42100.0,C,360,1,Other sellers,Other servicers,NaN,0,1,1,0,1,1,1
3,F114Q1000007,735,5,9,204404,33460.0,0,1,P,86,45,417000,67,4.625,R,N,FRM,MN,SF,55000.0,N,360,2,Other sellers,Other servicers,NaN,0,1,1,0,1,1,1
4,F114Q1000010,667,3,N,204402,NaN,25,1,P,90,30,99000,90,5.125,R,N,FRM,KY,SF,42100.0,P,360,2,Other sellers,Other servicers,NaN,0,1,0,0,1,1,1
5,F114Q1000013,801,3,9,204402,36540.0,0,1,P,56,31,275000,56,4.500,R,N,FRM,NE,PU,68100.0,N,360,2,Other sellers,Other servicers,NaN,0,1,1,0,1,1,1
6,F114Q1000016,766,3,N,204402,NaN,0,1,P,80,43,112000,80,4.625,R,N,FRM,WI,SF,53000.0,P,360,1,Other sellers,Other servicers,NaN,0,1,1,0,1,1,1
7,F114Q1000019,736,3,N,204402,NaN,30,1,P,95,36,208000,95,4.750,R,N,FRM,TX,SF,75900.0,P,360,2,Other sellers,NATIONSTAR MORTGAGE LLC DBA MR. COOPER,NaN,0,1,0,0,1,1,1
8,F114Q1000022,811,3,N,204402,30460.0,25,1,P,90,18,83000,90,4.500,R,N,FRM,KY,SF,40300.0,P,360,2,Other sellers,Other servicers,NaN,0,0,0,0,1,1,1
9,F114Q1000025,671,5,N,204404,24860.0,0,1,P,80,35,130000,80,5.000,R,N,FRM,SC,SF,29600.0,P,360,2,Other sellers,Other servicers,NaN,0,1,1,0,1,1,1

In [26]:
data.cd_msa.fillna(value = 0, inplace=True)
data.ppmt_pnlty.fillna(value = 'Y', inplace=True)
data.zipcode.fillna(value = 0, inplace=True)
data.flag_sc.fillna(value = 'N', inplace=True)
data.cnt_units.values[data.cnt_units.values==99] = data.cnt_units.mode()[0]

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
null_columns = data.columns[data.isnull().any()]
data[null_columns].isnull().sum()

Series([], dtype: float64)

In [28]:
data = data.drop(['dt_matr', 'int_rt'], axis='columns')
data.zipcode = data.zipcode//1000
data.cd_msa = data.cd_msa//1000
print()
print()

In [29]:
data.describe()

,fico,dt_first_pi,cd_msa,mi_pct,cnt_units,cltv,dti,orig_upb,ltv,zipcode,orig_loan_term,cnt_borr,Default,mark_fico,mark_mi_pct_out,mark_mi_pct_not,mark_cltv,mark_dti,mark_ltv
count,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06,2.098593e+06
mean,7.502470e+02,6.780907e+00,2.728094e+04,6.512533e+00,1.032099e+00,7.436201e+01,3.449362e+01,2.331565e+05,7.393959e+01,5.615348e+04,3.226556e+02,1.500760e+00,2.441207e-02,9.286651e-01,7.443201e-01,1.906039e-06,9.999757e-01,9.999566e-01,9.999757e-01
std,9.749856e+01,3.452081e+00,1.401360e+04,1.168785e+01,2.405670e-01,1.710647e+01,1.134792e+01,1.209287e+05,1.716946e+01,2.976093e+04,7.158170e+01,4.999995e-01,1.543248e-01,2.573836e-01,4.362428e-01,1.380593e-03,4.929647e-03,6.584871e-03,4.929647e-03
min,5.170000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,6.000000e+00,1.000000e+00,6.000000e+03,6.000000e+00,0.000000e+00,6.000000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,7.170000e+02,4.000000e+00,1.697400e+04,0.000000e+00,1.000000e+00,6.700000e+01,2.800000e+01,1.400000e+05,6.600000e+01,3.050000e+04,3.600000e+02,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
50%,7.580000e+02,7.000000e+00,2.982000e+04,0.000000e+00,1.000000e+00,8.000000e+01,3.600000e+01,2.100000e+05,7.900000e+01,5.540000e+04,3.600000e+02,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
75%,7.870000e+02,1.000000e+01,3.894000e+04,1.200000e+01,1.000000e+00,8.500000e+01,4.200000e+01,3.090000e+05,8.300000e+01,8.460000e+04,3.600000e+02,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
max,9.999000e+03,1.200000e+01,4.974000e+04,9.990000e+02,4.000000e+00,9.990000e+02,9.990000e+02,1.285000e+06,9.990000e+02,9.990000e+04,5.490000e+02,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [30]:
data.columns.values

array(['id_loan', 'fico', 'dt_first_pi', 'flag_fthb', 'cd_msa', 'mi_pct',
       'cnt_units', 'occpy_sts', 'cltv', 'dti', 'orig_upb', 'ltv',
       'channel', 'ppmt_pnlty', 'prod_type', 'st', 'prop_type', 'zipcode',
       'loan_purpose', 'orig_loan_term', 'cnt_borr', 'seller_name',
       'servicer_name', 'flag_sc', 'Default', 'mark_fico',
       'mark_mi_pct_out', 'mark_mi_pct_not', 'mark_cltv', 'mark_dti',
       'mark_ltv'], dtype=object)

In [31]:
n = ['Default', 'fico', 'mi_pct', 'cltv', 'dti', 'orig_upb', 'ltv', 'orig_loan_term']
c = [i for i in data.columns.values if i not in n]
print(c)
print(n)
data[c] = data[c].astype('str')
data[n] = data[n].astype('float')

['id_loan', 'dt_first_pi', 'flag_fthb', 'cd_msa', 'cnt_units', 'occpy_sts', 'channel', 'ppmt_pnlty', 'prod_type', 'st', 'prop_type', 'zipcode', 'loan_purpose', 'cnt_borr', 'seller_name', 'servicer_name', 'flag_sc', 'mark_fico', 'mark_mi_pct_out', 'mark_mi_pct_not', 'mark_cltv', 'mark_dti', 'mark_ltv']
['Default', 'fico', 'mi_pct', 'cltv', 'dti', 'orig_upb', 'ltv', 'orig_loan_term']

data.cnt_units.values[data.cnt_units.values==99] = data.cnt_units.mode()[0]

In [53]:
print(np.sum(data.cd_msa.value_counts()>20986))
print(np.sum(data.cd_msa.value_counts()<=20986), "\n")

print(np.sum(data.st.value_counts()>20986))
print(np.sum(data.st.value_counts()<=20986), "\n")

print(np.sum(data.zipcode.value_counts()>20986))
print(np.sum(data.zipcode.value_counts()<=20986), "\n")

print(np.sum(data.seller_name.value_counts()>20986))
print(np.sum(data.seller_name.value_counts()<=20986), "\n")

print(np.sum(data.servicer_name.value_counts()>20986))
print(np.sum(data.servicer_name.value_counts()<=20986))

20
394

27
27

2
888

17
31

Other servicers                              606709
WELLS FARGO BANK, N.A.                       282690
JPMORGAN CHASE BANK, NATIONAL ASSOCIATION    139180
U.S. BANK N.A.                               113199
QUICKEN LOANS INC.                           107355
NEW RESIDENTIAL MORTGAGE LLC                  78163
BANK OF AMERICA, N.A.                         76124
CALIBER HOME LOANS, INC.                      76066
MATRIX FINANCIAL SERVICES CORPORATION         72264
BRANCH BANKING AND TRUST COMPANY              53761
PNC BANK, NA                                  51274
PINGORA LOAN SERVICING, LLC                   49722
SUNTRUST BANK                                 41426
FIFTH THIRD BANK                              38565
CITIZENS BANK, NA                             33076
FREEDOM MORTGAGE CORPORATION                  32672
AMERIHOME MORTGAGE COMPANY, LLC               29941
LAKEVIEW LOAN SERVICING, LLC                  28956
NATIONSTAR MORTGAGE LLC DBA MR. COOPER        22096
ARVEST CENTRAL MORTGAGE COMPANY               18208
PENNYMAC CORP.                                17541
ROUNDPOINT MORTGAGE SERVICING CORPORATION     13138
SPECIALIZED LOAN SERVICING LLC                11680
PROVIDENT FUNDING ASSOCIATES, L.P.            11032
UNITED SHORE FINANCIAL SERVICES, LLC          10822
HOME POINT FINANCIAL CORPORATION               9103
JPMORGAN CHASE BANK, N.A.                      8681
AURORA FINANCIAL GROUP, INC.                   8101
BRANCH BANKING & TRUST COMPANY                 6548
USAA FEDERAL SAVINGS BANK                      5605
GUILD MORTGAGE COMPANY                         5398
SUNTRUST MORTGAGE, INC.                        5061
NATIONSTAR MORTGAGE LLC                        4777
LOANDEPOT.COM, LLC                             3840
COLONIAL SAVINGS, F.A.                         3723
PODIUM MORTGAGE CAPITAL LLC                    3640
CITIMORTGAGE, INC.                             3197
IMPAC MORTGAGE CORP.                           3032
STEARNS LENDING, LLC                           2926
MUFG UNION BANK, N.A.                          2596
REGIONS BANK DBA REGIONS MORTGAGE              2530
SENECA MORTGAGE SERVICING, LLC                 1547
RUSHMORE LOAN MANAGEMENT SERVICES, LLC         1266
STEARNS LENDING, LLC.                           822
CENTRAL MORTGAGE COMPANY                        540
Name: servicer_name, dtype: int64

In [51]:
pd.crosstab(data.st, data.Default)

Default     0.0    1.0
st
AK         4081    100
AL        19565    495
AR        13250    333
AZ        61009    928
CA       300725   5409
CO        70423    960
CT        18269    465
DC         4850     81
DE         6533    137
FL       125629  10441
GA        61047   1286
GU          372     18
HI         7107    193
IA        18017    380
ID        13717    189
IL        92293   1852
IN        46622   1046
KS        17992    358
KY        24821    505
LA        18164    931
MA        47631    877
MD        35803    693
ME         7882    157
MI        72164   1344
MN        47929    675
MO        40990    796
MS         6639    190
MT         8209    171
NC        63113   1138
ND         5542    133
NE         9870    193
NH        10747    163
NJ        49268   1197
NM         8209    190
NV        24249    497
NY        65428   1898
OH        67063   1290
OK        14752    438
OR        41421    581
PA        57988   1299
PR          165     59
RI         6486    138
SC        28800    668
SD         3883     82
TN        40051    797
TX       152160   6048
UT        34328    620
VA        51783    906
VI          142     28
VT         5410     96
WA        65374    840
WI        40394    673
WV         5524    155
WY         3479     94

In [50]:
data.groupby('st', as_index=False).agg({'Default': ["mean"]})

    st   Default
            mean
0   AK  0.023918
1   AL  0.024676
2   AR  0.024516
3   AZ  0.014983
4   CA  0.017669
5   CO  0.013449
6   CT  0.024821
7   DC  0.016427
8   DE  0.020540
9   FL  0.076733
10  GA  0.020631
11  GU  0.046154
12  HI  0.026438
13  IA  0.020656
14  ID  0.013591
15  IL  0.019672
16  IN  0.021943
17  KS  0.019510
18  KY  0.019940
19  LA  0.048756
20  MA  0.018079
21  MD  0.018988
22  ME  0.019530
23  MI  0.018284
24  MN  0.013888
25  MO  0.019049
26  MS  0.027823
27  MT  0.020406
28  NC  0.017712
29  ND  0.023436
30  NE  0.019179
31  NH  0.014940
32  NJ  0.023719
33  NM  0.022622
34  NV  0.020084
35  NY  0.028191
36  OH  0.018873
37  OK  0.028835
38  OR  0.013833
39  PA  0.021910
40  PR  0.263393
41  RI  0.020833
42  SC  0.022669
43  SD  0.020681
44  TN  0.019511
45  TX  0.038228
46  UT  0.017741
47  VA  0.017195
48  VI  0.164706
49  VT  0.017436
50  WA  0.012686
51  WI  0.016388
52  WV  0.027294
53  WY  0.026308

data.to_csv('cleaned_except5.csv')